* {
  margin: 0px;
  border: none;
  font-family: "Roboto";}

:root{
    --dark-slate-grey: #242742;
    --charcoal-grey: #36384e;
    --grey: #9294a0;
    --white: #ffffff;
}

body{
  background-color: var(--charcoal-grey);
}

.paragraph-style{
    font-size: 16px;
    margin-top: 16px;
}

.title-style {
  font-size: 36px;
}

.input-container {

    margin-top: 16px;
    border: 1px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;

    font-size: 16px;

    box-sizing: border-box;
  }

  .button-subscribe{
    margin-top: 24px;

    font-size: 16px;
    font-weight: 500;
    background-color: var(--dark-slate-grey);
    color: var(--white);

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 8px;
    cursor: pointer;

    font-size: 19px;

    border: black;
  }

  .small-mobile-image{
    display: flex;
    gap: 16px;
  }

  .email-container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  .section-container{
    max-width: 375px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    border-radius: 24px;
  }

  .section-container > img {
    
  }

  .section-content {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }



  /* pagina doi*/

  .secound-title {
    font-size: 60px;
    padding: 20px;
  }

  .img-secound-paige{
    padding-left: 20px;
    padding-top: 20px;
  }

  .paragraph-secound-paige{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .setting-secound-button{
    padding: 20px;
  }

  .section-container-doi{
    display: none;
    max-width: 375px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    border-radius: 24px;
  }

  .secound-button{
    font-size: 16px;
    font-weight: 500;
    background-color: var(--dark-slate-grey);
    color: var(--white);

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 27%;
    padding-right: 27%;

    border-radius: 8px;
    cursor: pointer;

    font-size: 19px;

    border: black;
  }

  /* PC */

  .in-line{
    display: inline-block;
    gap: 16px;
  }

  .eroare-checkbox{
    color: red;
    margin-top: 4px;
    display: none;
  }

  .email-container{

  }

  .mobile-pc{
    display: none;
    width: 400px;
  }

@media screen and (min-width: 900px) {
  .section-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 880px;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .mobile-image{
    display: none;
  }

  .mobile-pc{
    display: block;
  }

  .title-style{
    margin-top: 40px;
    font-size: 40px;
  }

  .paragraph-style-pc{
    margin-top: 40px;
  }

  .small-mobile-image{
    margin-top: 10px;
  }

  .email-container{
    margin-top: 50px;
  }



}